target/
.idea/
__pycache__/
venv/
*.so
*.pyd
node_modules/
.mypy_cache/
.pytest_cache/
crates/cactus-bls/fuzz/corpus
crates/cactus-consensus/fuzz/corpus
crates/cactus-protocol/fuzz/corpus
crates/cactus-traits/fuzz/corpus
crates/cactus-utils/fuzz/corpus
